In [19]:
%load_ext autoreload
%autoreload 2
# import os
# os.environ['CUDA_LAUNCH_BLOCKING'] = "1"
import argparse
import collections
import torch
import torch_geometric
import numpy as np
import pandas as pd
import matplotlib as plt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
skill_outflow_list = pd.read_csv(f"./data/skill_inflow_outflow/skill_outflow_list.csv")
skill_inflow_list = pd.read_csv(f"./data/skill_inflow_outflow/skill_inflow_list.csv")

In [26]:
skill_inflow_list

,0,1,2,3,4,5,6,7,8,9,...,24273,24274,24275,24276,24277,24278,24279,24280,24281,time_attr
0,3667,1351,0,0,0,1649,0,1207,0,0,...,0,1,0,0,0,0,1,33,1,2017-10
1,58856,21499,0,0,0,26460,0,20727,0,0,...,0,17,2,0,0,0,2,564,8,2017-11
2,11543,4385,0,0,0,5655,0,4505,0,0,...,0,6,0,0,0,0,3,101,1,2017-12
3,15152,6112,0,0,0,7287,0,5874,0,0,...,0,6,1,0,0,0,1,156,3,2018-01
4,31430,12509,0,0,0,13746,0,11943,0,0,...,0,4,1,0,0,0,7,319,2,2018-02
5,158015,63205,0,0,0,71484,0,62296,0,0,...,0,25,4,0,0,0,6,1811,15,2018-03
6,77076,26645,0,0,0,30733,0,25970,0,0,...,0,15,0,0,0,0,1,611,5,2018-04
7,52707,21170,0,0,0,24289,0,21226,0,0,...,0,12,1,0,0,0,4,462,6,2018-05
8,339127,140039,0,0,0,174667,0,148790,0,0,...,0,21,3,0,0,0,9,14480,25,2018-06
9,42236,15059,0,0,0,19940,0,18040,0,0,...,0,0,0,0,0,0,0,327,3,2018-07
10,16692,7025,0,0,0,7741,0,7284,0,0,...,0,0,0,0,0,0,3,152,4,2018-08
11,84720,35973,0,0,0,37592,0,31679,0,0,...,0,3,2,0,0,0,1,534,11,2018-09
12,96607,40626,0,0,0,50158,0,34864,0,0,...,0,8,4,0,0,0,4,563,10,2018-10
13,25054,10856,0,0,0,11069,0,8477,0,0,...,0,1,1,0,0,0,0,154,2,2018-11
14,37917,18391,0,0,0,19589,0,14006,0,0,...,0,8,0,0,0,0,0,216,7,2018-12
15,50681,23134,0,0,0,24794,0,17030,0,0,...,0,11,2,0,0,0,2,320,7,2019-01
16,41743,18369,0,0,0,18380,0,14337,0,0,...,0,14,0,0,0,0,1,296,1,2019-02
17,47535,20909,0,0,0,18616,0,17526,0,0,...,0,20,0,0,0,0,0,234,2,2019-03

In [25]:
skill_outflow_list

,0,1,2,3,4,5,6,7,8,9,...,24273,24274,24275,24276,24277,24278,24279,24280,24281,time_attr
0,3961,3560,3471,3534,2313,2592,2855,2122,2349,2147,...,0,0,0,1,0,1,0,0,0,2017-10
1,3242,2979,2750,2966,1939,2010,2322,1713,1983,1819,...,0,0,0,1,0,0,0,0,0,2017-11
2,3790,3709,3328,3569,2243,2381,2876,2108,2474,2272,...,0,0,0,0,1,0,0,0,0,2017-12
3,3615,3481,3105,3223,2080,2352,2637,2009,2200,2045,...,0,0,1,0,2,0,0,0,0,2018-01
4,2738,2472,2264,2345,1519,1822,1894,1519,1615,1452,...,0,0,0,0,0,0,0,0,0,2018-02
5,3003,2754,2563,2474,1742,1844,2051,1608,1709,1518,...,0,0,1,0,1,1,0,0,0,2018-03
6,2680,2545,2271,2406,1605,1674,1936,1456,1651,1496,...,0,0,1,0,1,0,0,0,0,2018-04
7,2522,2759,2415,2614,1521,1607,2214,1441,1964,1810,...,0,0,1,0,0,0,0,1,2,2018-05
8,2337,2275,1902,2111,1358,1416,1717,1300,1490,1317,...,0,0,1,0,0,0,0,1,0,2018-06
9,1977,1882,1557,1748,1114,1215,1364,1001,1186,1028,...,0,0,1,0,0,0,1,0,1,2018-07
10,1926,2111,1811,2070,1186,1220,1689,1107,1485,1393,...,0,0,0,0,0,0,0,0,0,2018-08
11,1605,1470,1283,1407,974,924,1102,853,1037,872,...,1,1,0,0,0,0,0,0,0,2018-09
12,7070,5620,5045,4895,4221,4088,3892,3466,3380,2827,...,0,0,1,1,0,0,0,0,0,2018-10
13,11415,9275,7701,7321,6881,6361,5644,5551,5246,3983,...,1,1,0,1,0,1,0,0,2,2018-11
14,6988,6451,5371,5063,4018,4345,4036,3842,3709,3079,...,0,0,1,1,2,0,1,1,0,2018-12
15,15317,13552,12458,11193,8767,9839,8925,7673,7628,6824,...,1,2,3,1,1,2,4,1,0,2019-01
16,13211,11439,9693,8945,7793,7945,7131,6750,6514,5467,...,4,1,1,0,1,1,1,0,1,2019-02
17,9921,8324,6855,6355,5810,5670,4985,4915,4676,3708,...,1,0,0,0,1,0,0,0,1,2019-03

In [28]:
rm_col = []
for col in skill_inflow_list:
    if((skill_inflow_list[col]==0).all() or (skill_outflow_list[col]==0).all()):
        rm_col.append(col)

In [29]:
len(rm_col)

16836

In [ ]:
skill_inflow_list_update = skill_inflow_list.drop(rm_col,axis=1)
skill_inflow_list_update = skill_outflow_list.drop(rm_col,axis=1)